<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.daniilazarnov.spring.intro.dao.question.QuestionDao">
    </bean>

    <bean id="userDao" class="ru.daniilazarnov.spring.intro.dao.user.UserDao">
    </bean>

    <bean id="questionService" class="ru.daniilazarnov.spring.intro.service.question.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"/>
    </bean>

    <bean id="userService" class="ru.daniilazarnov.spring.intro.service.user.UserServiceImpl">
        <constructor-arg name="dao" ref="userDao"/>
    </bean>

</beans>
